
.icon-cut:before { content: '\e800'; } /* '' */
.icon-delete:before { content: '\e801'; } /* '' */
.icon-undo:before { content: '\e802'; } /* '' */
.icon-redo:before { content: '\e803'; } /* '' */
.icon-copy:before { content: '\f0c5'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */