
.icon-scissors:before { content: '\e800'; } /* '' */
.icon-trash-empty:before { content: '\e801'; } /* '' */
.icon-ccw:before { content: '\e802'; } /* '' */
.icon-cw:before { content: '\e803'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-paste:before { content: '\f0ea'; } /* '' */