html{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.smartTextarea{
    position: relative;
    display: inline-block;
}

#FARTextarea{
    width: 900px;
    height: 500px;
}

#FARPanel{
    font-size: 1.1rem;
    margin: .5rem 0;
    display: none;
    position: absolute;
    padding: .4rem;
    background: #eee;
    box-shadow: -0.1rem 0.1rem .5rem .2rem rgba(128, 128, 128, 0.8);
}
#FARPanel > div{
    display: table-row;
}
#FARPanel input{
    height: 2.5rem;
    font-size: 1.5rem;
}

#FARPanel #findField div{
    position: relative;
}

#caseSensitive {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    height: 2.5rem;
    width: 2.5rem;
}

.btn {
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
    background: #eee;
    padding: .3rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 2rem;
    width: 2rem;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: .5rem;
    box-sizing: border-box;
}

.btn-hover {
    /* source: https://codepen.io/ovdojoey/pen/BomKyZ*/
    -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    background: #ddd;
}

.icon {
    width: 30px;
    height: 30px;
}

.fa{
    width: 25px;
    height: 25px;
}

#replaceField{
    margin-top: .5rem;
}