.smartTextarea{
    position: relative;
    display: inline-block;
}

.FARPanel{
    font-size: 1.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: .5rem 0;
    display: none;
    position: absolute;
    padding: .4rem;
    background: #eee;
    box-shadow: -0.1rem 0.1rem .5rem .2rem rgba(128, 128, 128, 0.8);
}
.FARPanel > div{
    display: table-row;
}
.FARPanel input{
    height: 2.5rem;
    font-size: 1.5rem;
    outline: none;
}

.FARPanel input:focus{
    background: #eee;
}

.FARPanel .findField div{
    position: relative;
}

.findField div:nth-child(1) .btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    height: 2.5rem;
    width: 2.5rem;
}

.findField div:nth-child(1) .btn.useRegexBtn{
    right: 2.5rem;
}

li[class^="icon-"]:before, li[class*=" icon-"]:before {
    position: absolute;
    left: 0;
    width: 2rem;
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    position: static;
    font-size: 25px;
}

i.icon-caseSensitivity:before{
    font-size: 20px;
    position: relative;
    right: 5px;
}
i.icon-caseSensitivity:before, i.icon-useRegex:before{
    font-size: 20px;
    position: relative;
    top: 5px;
}

.smartTextarea .btn {
    -webkit-transition: -webkit-box-shadow .3s;
    transition: -webkit-box-shadow .3s;
    transition: box-shadow .3s;
    transition: box-shadow .3s, -webkit-box-shadow .3s;
    background: #eee;
    padding: .3rem;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 2rem;
    width: 2rem;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    margin: .5rem;
    box-sizing: border-box;
}

.smartTextarea .btn-hover {
    /* source: https://codepen.io/ovdojoey/pen/BomKyZ*/
    -webkit-box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
    background: #ddd;
}

.smartTextarea .replaceField{
    margin-top: .5rem;
}

/* textarea context menu */
ul.context-menu-list {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ul li.context-menu-item{
    padding-right: .6rem;
}